[general]
version=		0.1-rc1
verbose=		flase
default_action=	shutdown
composite=		true
theme=			foom
buttons=		cancel lock suspend shutdown restart
images=			true
relief=			false
	
[actions]
restart=		reboot
shutdown=		poweroff
lock=			/home/kalterfive/bin/lock
suspend=		sudo pm-suspend
	
[labels]
cancel=			CANCEL
logout=			EXIT
restart=		REBOOT
shutdown=		SHUTDOWN
lock=			LOCK
suspend=		SUSPEND
